# Dependencies
job-tracker-frontend/node_modules/
job-tracker/node_modules/

# Build output
job-tracker-frontend/dist/

# Environment files
job-tracker/.env
job-tracker-frontend/.env

# Logs
*.log

# VS Code
.vscode/